
footer {
font-size: 20px;
    /* background: rgb(46, 46, 46); */
    color: white;
    
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: #160202; */
    /* background-image: url(../img/space-light.jpg); */
  }
  .e{
    font-size: 2rem;
    font-weight: 400;
  }
  
  /* Bottom - copyright and legal stuff */
  
 .mail{

    align-self: center;


 }
 .e img{
  width:45px;
  height: 45px;
  transform: scale(1.1);
  position: relative;
  top: 10px;
  right: 15px;
  align-self: center;
}
.e  a{
   letter-spacing: 0.2rem;
  color: var(--theme);

 }
 .e:hover a{
  cursor: pointer;
  color: white !important;

  
  /* font-weight: 500; */
 }
  .page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
    width: 90vw;

  }
  /* Middle - social media links */
  
   .social {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
    flex: 2;
  }
  .social img{
   transform: scale(0.4);
   cursor: pointer; 
  }
  
 
 .cpy{
    flex: 3;
    text-align: end;
    color: var(--theme);
    /* border: 1px solid red; */
    /* justify-self: flex-start; */

 }



 @media screen and (min-width: 800px) and (max-width: 1240px) {
   


 footer{
  width: 90vw;
  padding-top: 4rem;
 }
  
       }

 @media screen and (max-width: 800px) {
   


 footer{
  width: 100vw;
  /* padding-top: 4rem; */
  text-align: center;

 }
 .mail{
  /* border: 1px solid yellow; */
  width: 99vw;
  
  padding: 0;
 }
 

 .e{
   height: auto;
  }
  .e:hover{
    cursor: pointer;
    color: var(--yellow);
    
    transition:.3s ease all ;
    font-weight: 500;
  }
  .e a{
   font-size: 25px;
  letter-spacing: 1px;
 }
 .e img{
  /* transform: scale(0.5); */
  display: none;
  
 }

 .social a{
  transform: scale(0.7);
  /* display: none; */
  /* border: 1px solid white; */
  margin: 0;
  width: 80px;
  height: 80px;

  
 }
.page{
  flex-direction: column;
}
  
 .social {
width: 99vw; 
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
/* border: 1px solid red; */
padding: 1rem 1rem;
height: fit-content;

}

.cpy{
  color: white;
  font-size: 16px;
}

  
       }
  