.s{
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height:100vh;
    justify-content: center;
    align-items: center;
   width: 80vw;
   padding-top: 3rem;
    /* background: #000; */
    /* background-image: url(../img/space-services.jpg); */
    /* background-image: url(../img/space-light.jpg); */
            /* z-index: -6; */
  /* padding-top:  1rem; */
/* overflow: visible; */
/* border: 2px solid red; */


}

  

.s-l
{
    /* margin-left: 3rem; */
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* justify-content: center; */
    align-items: center;
    padding:0 10% 10% 10%;
    /* flex: 2; */
    /* border: 1px solid red; */
    /* display: none; */
}
.headingp
{
    color: var(--theme);
    font-size: 4rem !important;
    font-weight: bolder;
    /* text-align: center; */
}
.headingq
{
    color: var(--theme);
    font-size: 2.5rem;
    font-weight: bolder;
}
.text
{
    color: var(--grey);
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 01rem;
}
.s-button{
    margin-top: 1.8rem;
    width: 9.45rem;
    /* align-self: flex-start; */
}
a{
    text-decoration: none;

}
.s-r{
    display: flex;
    flex-direction: row;
justify-content: space-around;
    align-items: center;
    /* flex: 3; */
    /* border: 2px solid blue; */
    width: 80vw;
    
     
}
.card{
    /* position: relative !important; */
    /* height: auto; */
    /* width: 0
    ; */
    /* display: none!important; */
}
 .s-r>:nth-child(1)
{
    position: relative;
    top: -9rem;
    left: 0rem;
}
.s-r>:nth-child(2)
{
    position: relative;
    top: 0rem;
    left: 0rem;
}
.s-r>:nth-child(3)
{
    position: relative;
top: -9rem;
left: 0rem;
} 

@media screen and (min-width: 800px) and (max-width: 1240px) {
    .s {
        padding-top: 100px;
        flex-direction: column;
        /* gap: 5rem; */
        height: auto;
        padding-bottom: 4rem;
      }
    .text{
        text-align: center;

    }
      
      .card {
        position: static;
        justify-self: center;
        align-self: center;
      }
      .s-r{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* border: 2px solid red; */
        padding-top: 100px;
        /* width: 95vw; */
      }
    
      .s-r>:nth-child(1)
{
    top: 0rem;
    left: 0rem;
}
.s-r>:nth-child(2)
{
    top: 0rem;
    left: 0rem;
}
.s-r>:nth-child(3)
{
top: 0rem;
left: 0rem;
}


     }

     @media screen and (max-width: 800px) 
     {
   
  
       .s{
       /* width: 100vw; */
        /* border: 1px solid red; */
        width: 99vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 75px 0;
        margin: 0;
        align-items: center;
        justify-self: center; 
        align-self: center;
        /* width: 100%; */
       }
       .s-l{
/* display: none; */
        width: 90vw;
        height: fit-content;
        padding:0 ;
        /* border: 1px solid rgb(192, 192, 192); */
       }
      

       .t2{
        /* font-size: 2px; */
        /* justify-content: center
        tx; */
        text-align: center;
        letter-spacing: 1.1px;
       }


       .s-r{
        display: flex;
        flex-direction: column;
        align-items: space;
        justify-content: center;
         /* border: 1px solid green; */
         padding: 75px 0;
         width: 88vw;
         /* gap: 20p; */

        }
        .s-r>:nth-child(1)
        {
            top: 0rem;
                    margin-bottom: 30px;
           
           
        }
        .s-r>:nth-child(2)
        {
            top: 0rem;
            margin-bottom: 30px;

          
        }
        .s-r>:nth-child(3)
        {
            top: 0rem;
            margin-bottom: 20px;

      
        }
         
    }

     