:root
{
  --yellow: #F5C32C;
    --theme : #0affff;
    --black : hsl(226, 47%, 90%);
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
*{
  color: white;
}

.App{
    /* padding: 0.5rem 3.5rem; */
    overflow: hidden;
    color: var(--black);   
    user-select: none; 
    z-index: -10;
    background-image: url(./img/space-light2.jpg);
    
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    background-size:contain;

    
  
}




.button {
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: 1px solid transparent;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--theme);
    color: #fb982f;
  }



  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }

  .headingp
{
    color: var(--theme)  !important;
    font-size: 2.5rem !important;
    font-weight: bolder;
}
.headingq
{
    color: var(--yellow);
    font-size: 3rem;
    font-weight: bolder;
}
  .icons{
    /* color: (--theme); */
    /* background: var(--theme); */
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1052;
    height: 3px;
    background: rgb(255, 255, 255);
    transform-origin: 0%;
  }
  

  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }


  